@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Archivo Variable";
}

.partner {
	background-image: url("./assets/Donate.png");
}

@media (max-width: 768px) {
	.partner {
		background-image: none;
	}
}

html.dark body {
	background-color: black;
}
